
<nav  class="navbar sticky-top navbar-expand-lg " style="background:linear-gradient(135deg, rgb(25, 118, 210) 0%,rgb(13, 71, 161) 100%)"  >
    <a style="color: white; font-size: 25px;" class="navbar-brand" routerLink="/home">Top 10 Jabalpur</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li  class="nav-item "> <a routerLink="/home/product/gallery" class="nav-link" >Gallery</a></li>
          <li class="nav-item "> <a routerLink="/home/order/order-history" class="nav-link" >My Orders</a></li>
            <li class="nav-item "> <a routerLink="/home/product/cart" class="nav-link" >Cart</a></li>
            <li class="nav-item "> <a routerLink="/home/user/profile" class="nav-link" >Profile</a></li>
                <!-- <li (click) = "onSignOut()"class="nav-item "> <a  class="nav-link" float-right>Signout</a></li> -->
                 
        
      </ul>
    </div>
    <div style="margin-right: 10px; color: white;">Login as : {{email}}</div>
    <!-- <button routerLink="/auth/signin" style="margin-right: 10px;" class="btn btn-warning  float-right" >Signin</button>
    <button  class="btn btn-warning  float-right" >Signup</button> -->
    <button (click) = "onSignOut()" class="btn btn-warning  float-right" >Signout</button>
  </nav>

  <router-outlet></router-outlet>

