/*#title{
    @font-face {
      font-family: title;
      src: url('assets/header.otf');
    }
  }*/
  #title{
    font-family: title;
     color:chocolate; 
     text-shadow: 2px 2px 5px #737373;
     font-size: 40px;
  }
  /*body {
    margin: 0;
    padding: 0;
  }*/
  .btn-Service-code{
     border: solid #808080 2px;
     padding: 5px;
     background-color: transparent;
     color: #808080;
  }
  .btn-Service-code:hover{
    
    border: solid white;
    color:white;
  }
  .copyright{
    margin-top: 5px;
    color: white;
  }
  .footer{
    background-color: #172337;
  }
  .footer ul {
    list-style-type: none;
    padding: 8px;
    font-size: 12px;
    color:#877963;
  }
  .footer ul li a{
    list-style-type: none;
    font-size: 12px;
    color:white;
  }
  .social-logo{
    width: 40px;
    margin-top: 15px;
  }
  .item{
    
    height: 40px;
    width: 20px;
    display: inline-block;
    
    
       text-align: center;
       font-size: 20px;
       line-height: 50px;
       
  }
  .card-body {
    box-shadow: 0 5px 5px 2px rgba(0,0,0, .2);
  }
  .card{
      box-shadow: 0 5px 5px 2px rgba(0,0,0, .2);
      
    
  }
  .mycardmargin{
    
    margin: 80px;
  }
  .menu-item{
    
    height: 40px;
    color: black;
    display: inline-block;
    border: 1px white solid;
    text-align: center;
    font-size: 10;
    line-height: 40px;
    text-shadow: 1px 1px red;
  }